<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>your are updating  <%= prod.title%></h1>
    <form action="<%=prod._id%>" method="post">
        <div>
            <label for="">Your title</label>
            <input type="text" name="title" id="" value="<%= prod.title%>">
        </div>
        <div>
            <label for="">Your descrip</label>
            <input type="text" name="descrip" id="" value="<%= prod.descrip%>">
        </div>
        <div>
            <label for="">Your cost</label>
            <input type="number" name="cost" id="" value="<%= prod.cost%>">
        </div>
        <div>
            <label for="">Seller is: </label>
         <select name="seller" id="">
        <%allUsers.forEach(seller => { %>
            <%if(seller._id==prod.seller){%>
            <option value="<%= seller._id%>" selected> <%= seller.name%></option>
            <%}else{%>
                <option value="<%= seller._id%>"><%= seller.name%></option>
                <%}%>
      <%  }); %>

         </select>
        </div>
        <button>Submit</button>
    </form>
    <a href="/prods">back</a>
</body>
</html>